@model LSLS.Models.TruckDriver

@{
    ViewBag.Title = "Truck's Driver Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Main", "Account")</li>
    <li>@Html.ActionLink("Truck's Drivers", "ListAllTruckDrivers", "TruckDriver")</li>
    <li class="active">Truck's Driver Profile</li>
</ul>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Truck's Driver Profile</h2>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <h4>
                    <strong>Truck's Driver Account</strong>
                </h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.TruckDriverUsername, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TruckDriverUsername, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TruckDriverPassword, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TruckDriverPassword, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TruckDriverConfirmPassword, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TruckDriverConfirmPassword, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>

                <br />
                <h4>
                    <strong>Truck's Driver Information</strong>
                </h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.TruckDriverFullname, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TruckDriverFullname, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TruckDriverGender, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TruckDriverGender, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TruckDriverCitizenId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TruckDriverCitizenId, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TruckDriverDriverLicenseId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TruckDriverDriverLicenseId, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TruckDriverBirthdate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.TruckDriverBirthdate, new { @class = "form-control", disabled = "disabled", type = "date" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TruckDriverAddress, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TruckDriverAddress, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TruckDriverEmail, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TruckDriverEmail, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TruckDriverTelephoneNo, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TruckDriverTelephoneNo, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>

                <br />
                <h4>
                    <strong>Truck Information</strong>
                </h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.TruckId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TruckId, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>
                <br />

                @Html.HiddenFor(m => m.TruckDriverId)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Update", "FormEditTruckDriver", new { truckdriverId = Model.TruckDriverId }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Cancel", "ListAllTruckDrivers", "TruckDriver", new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>