@model LSLS.Models.TruckDriver

@{
    ViewBag.Title = "Create Truck's Driver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Main", "Account")">Home</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("ListAllTruckDrivers", "TruckDriver")">Truck's Driver</a></li>
    <li class="breadcrumb-item active">Create New Truck's Driver</li>
</ul>

<div class="container">
    <div class="card border-success">
        <div class="card-header text-white bg-success">
            Create New Truck's Driver
        </div>

        <div class="card-body">
            @using (Html.BeginForm("SaveTruckDriver", "TruckDriver"))
            {
                @Html.AntiForgeryToken()

                <form>
                    <h5 class="card-title">Truck's Driver Account</h5>
                    <hr/>

                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                    <div class="form-group">
                        @Html.LabelFor(model => model.TruckDriverUsername, new {@class = "col-md-5"})
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.TruckDriverUsername, new {htmlAttributes = new {@class = "form-control", placeholder = "Username"}})
                            @Html.ValidationMessageFor(model => model.TruckDriverUsername, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TruckDriverPassword, new {@class = "col-md-5"})
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.TruckDriverPassword, new {htmlAttributes = new {@class = "form-control", placeholder = "Password"}})
                            @Html.ValidationMessageFor(model => model.TruckDriverPassword, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TruckDriverConfirmPassword, new {@class = "col-md-5"})
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.TruckDriverConfirmPassword, new {htmlAttributes = new {@class = "form-control", placeholder = "Confirm Password"}})
                            @Html.ValidationMessageFor(model => model.TruckDriverConfirmPassword, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <br/>
                    <h5 class="card-title">Truck's Driver Information</h5>
                    <hr/>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TruckDriverFullname, new {@class = "col-md-5"})
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.TruckDriverFullname, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.TruckDriverFullname, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TruckDriverGender, new {@class = "col-md-5"})
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.TruckDriverGender, new[]
                            {
                                new SelectListItem {Text = "Select", Value = ""},
                                new SelectListItem {Text = "Male", Value = "Male"},
                                new SelectListItem {Text = "Female", Value = "Female"}
                            }, new {@class = "form-control"})

                            @Html.ValidationMessageFor(model => model.TruckDriverGender, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TruckDriverCitizenId, new {@class = "col-md-5"})
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.TruckDriverCitizenId, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.TruckDriverCitizenId, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TruckDriverDriverLicenseId, new {@class = "col-md-5"})
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.TruckDriverDriverLicenseId, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.TruckDriverDriverLicenseId, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TruckDriverBirthdate, new {@class = "col-md-5"})
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.TruckDriverBirthdate, new {@class = "form-control", placeholder = "DD/MM/YYYY", type = "date"})
                            @Html.ValidationMessageFor(model => model.TruckDriverBirthdate, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TruckDriverAddress, new {@class = "col-md-5"})
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.TruckDriverAddress, new {htmlAttributes = new {@class = "form-control", placeholder = "Address"}})
                            @Html.ValidationMessageFor(model => model.TruckDriverAddress, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TruckDriverEmail, new {@class = "col-md-5"})
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.TruckDriverEmail, new {htmlAttributes = new {@class = "form-control", placeholder = "example@example.com"}})
                            @Html.ValidationMessageFor(model => model.TruckDriverEmail, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TruckDriverTelephoneNo, new {@class = "col-md-5"})
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.TruckDriverTelephoneNo, new {htmlAttributes = new {@class = "form-control", placeholder = "0123456789"}})
                            @Html.ValidationMessageFor(model => model.TruckDriverTelephoneNo, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <br/>
                    <h4>
                        <strong>Truck Information</strong>
                    </h4>
                    <hr/>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TruckId, new {@class = "col-md-5"})
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.TruckId, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.TruckId, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <hr/>

                    <div class="form-group">
                        <div class="col-md-7">
                            <input type="submit" value="Create" class="btn btn-success"/>
                            @Html.ActionLink("Cancel", "ListAllTruckDrivers", "TruckDriver", new {@class = "btn btn-outline-secondary" })
                        </div>
                    </div>
                </form>
            }
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}