@model LSLS.Models.FileDetail

@{
    ViewBag.Title = "DeleteFileFromTruckDriverView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Main", "Account")">Home</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("ListAllTruckDriverDoc", "TruckDriverDoc")">Truck's Driver Document</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("ListFilesByTruckDriverDocId","TruckDriverDoc", new { truckDriverDocId = @Model.TruckDriverDocId })">List Files</a></li>
    <li class="breadcrumb-item active">Delete File</li>
</ul>

<div class="container">
    <div class="card border-danger">
        <div class="card-header text-white bg-danger">
            <h5 class="card-title">Delete File</h5>
        </div>
        <div class="card-body">

            @using (Html.BeginForm("DeleteFileFromTruckDriverDocView", "TruckDriverDoc", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.TruckDriverDocId)
                @Html.HiddenFor(model => model.FileName)
                @Html.HiddenFor(model => model.FileId)

                <dl class="dl-horizontal">
                    <dt>
                        @Html.Label("File Category")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FileCategory)
                    </dd>
                    
                    <dt>
                        @Html.Label("File Name")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FileName)
                    </dd>

                </dl>
                <hr/>
                <form>
                    <div class="form-group">
                        <div class="col-7">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            @Html.ActionLink("Cancel", "ListFilesByTruckDriverDocId", new { truckDriverDocId = @Model.TruckDriverDocId }, new { @class = "btn btn-outline-secondary" })
                        </div>
                    </div>
                </form>

            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

