@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<LSLS.ViewModels.TruckLocationViewModel>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzxtZCeSypA1WNa4foGcKlir1Kmj3LjA4&sensor=false"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var gmarkers = [];
        var map;

        function initialize() {

            var mapProp = {
                center: new google.maps.LatLng(18.7925038, 98.9600406), //India Lat and Lon
                zoom: 2,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        var infowindow;
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetAllTruckLocations", "TruckTracking")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                $.each(data,
                    function(i, item) {
                        // alert(item.Longitude);
                        var marker = new google.maps.Marker({
                            'position': new google.maps.LatLng(item.Latitude, item.Longitude),
                            'map': map,
                            'title': item.TruckDriverFullname
                        });

                        // Make the marker-pin blue!
                        marker.setIcon('http://maps.google.com/mapfiles/ms/micons/green-dot.png');

                        google.maps.event.addListener(marker,
                            'click',
                            function() {
                                if (infowindow) infowindow.close();
                                infowindow = new google.maps.InfoWindow({
                                    content: "<div class='infoDiv'><h3>" +
                                        item.TruckId +
                                        "</h3>" +
                                        item.TruckDriverFullname +
                                        "</div>"
                                });
                                infowindow.open(map, marker);
                            });
                    });
            }
        }).done(function() {
            $(".loadingOverlay").hide();
        });


        $("#txtSearch").keyup(function() {
            var x = $("#txtSearch").val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("SearchTruckId", "TruckTracking")', //"../Map/Search"
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ "truckId": x }),
                dataType: "json",
                success: function(data) {
                    var table = "";
                    $.each(data,
                        function(index, value) {
                            table += "";
                            var latlng = new google.maps.LatLng(value.Latitude, value.Longitude);
                            var marker = new google.maps.Marker({
                                position: latlng,
                                icon: "http://maps.google.com/mapfiles/ms/micons/green-dot.png",
                                map: map
                            });

                            gmarkers.push(marker);

                        });
                    table += "<table class=";
                    table;
                    "> <tbody><tr>" + value.TruckId + "";
                    $("#myData").html(table);

                    if (x == "") {
                        for (j = 0; j < gmarkers.length; j++) {
                            gmarkers[j].setMap(null);
                        }
                    }
                }
            });
        });
    });
</script>

<style>
    #map {
        height: 470px;
        width: 100%;
    }
</style>


<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Main", "Account")</li>
    <li class="active">Truck Tracking</li>
</ul>

<div class="row">

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Truck Tracking</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.TextBox("txtSearch", null, new {placeholder = "Search TruckId"})
                </div>

                <div id="myData">
                    @foreach (var item in Model)
                    {
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>@item.TruckId</td>
                            </tr>
                            </tbody>
                        </table>
                    }
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">Map</div>
            <div id="googleMap"></div>
        </div>
    </div>

</div>