
@{
    ViewBag.Title = "DeleteTransportationInf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LSLS.Models.TransportationInf

@{
    ViewBag.Title = "DeleteTransportationInf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Main", "Account")">Home</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("ListAllTransportationInfs", "TransportationInf")">Transportation Informations</a></li>
    <li class="breadcrumb-item active">Delete Shipping Document</li>
</ul>

<div class="container">
    <div class="card border-danger">
        <div class="card-header text-white bg-danger">
            <h5 class="card-title">Delete Shipping Document</h5> 
        </div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Employer) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Employer)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OrderDate) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OrderDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateOfTransportation) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateOfTransportation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProductName) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartingPoint):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartingPoint)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Destination) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Destination)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReceiverName) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReceiverName)
                </dd>
                
                <dt>
                    @Html.DisplayNameFor(model => model.ShippingNote) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShippingNote)
                </dd>
                
                <dt>
                    @Html.DisplayNameFor(model => model.ReceiveDateTime) :
                </dt>

                <dd>
                    @(Model.ReceiveDateTime.Equals(null) ?
                          Html.Label("Not Complete Yet!", new { @class = "badge badge-danger" }) :
                          Html.DisplayFor(model => model.ReceiveDateTime, new { @class = "badge badge-success" }))
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StatusOfTransportation) :
                </dt>

                <dd>
                    @(Model.StatusOfTransportation.Equals(true) ?
                      Html.Label("Complete", new { @class = "badge badge-success" }) :
                      Html.Label("Not Complete", new { @class = "badge badge-danger" }))
                </dd>

            </dl>
            <hr />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-8">
                        <input type="submit" value="Delete" class="btn btn-danger " onclick="return confirm('Do you want to delete ? ');" />
                        @Html.ActionLink("Cancel", "ListAllTransportationInfs", "", new { @class = "btn btn-outline-secondary" })
                    </div>
                </div>
            }
        </div>
    </div>

</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}





