@model IEnumerable<LSLS.Models.TransportationInf>

@{
    ViewBag.Title = "ListAllTrans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Main", "Account")</li>
    <li class="active">Transportation Informations</li>
</ul>

<div class="container-fluid">

    <p>
        @Html.ActionLink("Add Shipping", "FormCreateTransportationInf", null, new { @class = "btn btn-success" })
    </p>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="glyphicon glyphicon-th-list"></span> Transportation Informations
            </h2>
        </div>
        <div class="panel-body">

            <table id="shippings" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            ShippingNo.
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Employer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            Status Shipping
                        </th>
                        <th>
                            Job Assign
                        </th>
                        <th>
                            Options
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShippingId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @(item.StatusOfTransportation.Equals(true) ?
                                      Html.Label("Complete", new { @class = "label label-success" }) :
                                      Html.Label("Not Complete", new { @class = "label label-danger" }))
                            </td>
                            <td>
                                @(item.JobIsActive.Equals(true) ?
                                      Html.Label("Active", new { @class = "label label-success" }) :
                                      Html.ActionLink("Add Job", "FromCreateJobAssignment", new { shippingId = item.ShippingId }, new { @class = "btn btn-info btn-sm" }))
                            </td>
                            <td>
                                @Html.ActionLink("Details", "DetailsTransportationInf", new { shippingId = item.ShippingId }, new { @class = "btn btn-primary btn-sm" })
                                @Html.ActionLink("Edit", "FormEditTransportationInf", new { shippingId = item.ShippingId }, new { @class = "btn btn-warning btn-sm" })
                                @Html.ActionLink("Delete", "DeleteTransportationInf", new { shippingId = item.ShippingId }, new { @class = "btn btn-danger btn-sm" })
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#shippings").DataTable();
        });
    </script>
}