@model IEnumerable<LSLS.Models.TransportationInf>

@{
    ViewBag.Title = "ListTransportationInfIsNotCompletedInMonth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li class="item"><a href="@Url.Action("Main", "Account")">Home</a></li>
    <li class="item"><a href="@Url.Action("ReportTransportationMainView", "ReportTransportation")">ReportTransportation</a></li>
    <li class="item active">Report Shipping Is Not Completed</li>
</ul>


<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                Report Shipping Is Not Completed
            </h5>
        </div>
        <div class="panel-body">

            <table id="shippings" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            ShippingNo.
                        </th>
                        <th>
                            ReceiverName
                        </th>
                        <th>
                            OrderDate
                        </th>
                        <th>
                            DateOfTransportation
                        </th>
                        <th>
                            Employer
                        </th>
                        <th>
                            ProductName
                        </th>
                        <th>
                            StartingPoint
                        </th>
                        <th>
                            Destination
                        </th>
                        <th>
                            ReceiverName
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="danger">
                            <td>
                                @Html.DisplayFor(modelItem => item.ShippingId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReceiveDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfTransportation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartingPoint)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Destination)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReceiverName)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#shippings").DataTable();
        });
    </script>
}




